# Copyright 2023 chenmingyong0423

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Format Go code

on:
  push:
    branches: [ main, dev]
  pull_request:
    branches: [ main, dev]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ">=1.21.0"

      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports@latest

      - name: Check
        run: |
          make check
          if [ -n "$(git status --porcelain)" ]; then
             echo >&2 "错误: 请在本地仓库执行命令 → 'make check' 后再次提交."
             exit 1
          fi
